# Registro ECR
ECR_REGISTRY=123456789012.dkr.ecr.us-east-2.amazonaws.com
IMAGE_TAG=latest

# JWT (mismo valor en auth-service y api-gateway)
JWT_SECRET_KEY=

# Redis (Upstash)
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Auth service — Supabase
AUTH_DB_URL=jdbc:postgresql://db.xxxx.supabase.co:5432/postgres
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=

# Pomodoro service — Supabase
POMODORO_DB_URL=jdbc:postgresql://db.xxxx.supabase.co:5432/postgres
POMODORO_DB_USERNAME=
POMODORO_DB_PASSWORD=

# RabbitMQ
RABBITMQ_USERNAME=enfoca
RABBITMQ_PASSWORD=

# Eureka (IP interna de la EC2 pasarela)
EUREKA_URL=http://10.0.2.x:8761/eureka/
